- name: Installer pip
  yum:
    name: python3-pip
    state: present

- name: Installer docker-py via pip
  pip:
    name:
      - docker
      - docker-compose
    executablee: pip3
    
- name: Exécuter le conteneur Docker
  docker_container:
    name: wartest
    image: "{{ image }}"
    ports: "8081:8080"
    state: started
